In [3]:
# Swapping Variables
var1 = input("Enter the first variable: ")
var2 = input("Enter the second variable: ")
print(f"\nBefore swapping: var1 = {var1}, var2 = {var2}")
temp = var1
var1 = var2
var2 = temp
print(f"After swapping: var1 = {var1}, var2 = {var2}")

Before swapping: var1 = 5, var2 = 6
After swapping: var1 = 6, var2 = 5

In [ ]:
# Simple Calculator (No Conditions)
num1 = input("Enter first number: ")
operator = input("Enter operator (+, -, *, /): ")
num2 = input("Enter second number: ")
expression = num1 + operator + num2
result = eval(expression)
print("Result:", result)

Result: 35

In [ ]:
# Type Conversion
num_str = input("Enter a number: ")
num_int = int(num_str)
num_float = float(num_str)
print("Integer value:", num_int, "Type:", type(num_int))
print("Float value:", num_float, "Type:", type(num_float))

Integer value: 25 Type: <class 'int'>
Float value: 25.0 Type: <class 'float'>

In [ ]:
# Quadratic Equation Roots (No Conditions)
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

d = b**2 - 4*a*c

root1 = (-b + complex(d)**0.5) / (2*a)
root2 = (-b - complex(d)**0.5) / (2*a)

print("Root 1:", root1)
print("Root 2:", root2)

Root 1: (-0.9999999999999999+2j)
Root 2: (-1.0000000000000002-2j)

In [ ]:
# Custom Data Type Formatter
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in cm: "))

print(f"Name: {name}, Age: {age} years, Height: {height} cm")

Name: Srikanth, Age: 22 years, Height: 175.5 cm

In [ ]:
# Complex Expression Evaluator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

result = ((num1 + num2) * num3) / (num1 - num2)

print("Result:", round(result, 2))

Result: 8.0

In [ ]:
# Sum of Two Numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2

print("Sum:", sum_result)

Sum: 30.0

In [1]:
# Take a name as input
name = input("Enter your name: ")

print(f"Hello, {name}")

Hello, Srikanth Reddy

In [ ]:
# Uppercase String
text = input("Enter a string: ")

upper_text = text.upper()

print("Uppercase:", upper_text)

Uppercase: SRIKANTH REDDY

In [ ]:
# Square of a Number
num = float(input("Enter a number: "))

square = num ** 2

print("Square:", square)

Square: 49.0

In [ ]:
# 
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

result = str1 + str2

print("Concatenated String:", result)

Concatenated String: SrikanthReddy

In [13]:
num = float(input("Enter a float number: "))

num_int = int(num)

print("Integer equivalent:", num_int)

Integer equivalent: 12

In [14]:
age = int(input("Enter your age: "))

print(f"You are {age} years old")

You are 21 years old

In [15]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

product = num1 * num2

print("Product:", product)

Product: 30.0

In [16]:
sentence = input("Enter a sentence: ")

length = len(sentence)

print("Length of the sentence:", length)

Length of the sentence: 11

In [17]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

average = (num1 + num2 + num3) / 3

print("Average:", average)

Average: 20.0

In [19]:
num = float(input("Enter a number: "))

absolute_value = abs(num)

print("Absolute value:", absolute_value)

Absolute value: 15.7

In [21]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

difference = num1 - num2

print("Difference:", difference)

Difference: 15.0

In [22]:
text = input("Enter a string: ")

reversed_text = text[::-1]

print("Reversed string:", reversed_text)

Reversed string: htnakirS

In [23]:
height_cm = float(input("Enter height in centimeters: "))

height_m = height_cm / 100

print("Height in meters:", height_m)

Height in meters: 1.75

In [24]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

quotient = num1 / num2

print("Quotient:", quotient)

Quotient: 4.0

In [25]:
name = input("Enter your name: ")

print(f'"{name}"')

"Srikanth"

In [26]:
num = float(input("Enter a number: "))

rounded_num = round(num, 2)

print("Rounded number:", rounded_num)

Rounded number: 12.35

In [27]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

print(f"{str1} {str2}")

Hello  World

In [29]:
value = input("Enter anything: ")

print("Type of input:", type(value))

Type of input: <class 'str'>

In [30]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

sum_result = num1 + num2 + num3
product_result = num1 * num2 * num3

print("Sum:", sum_result)
print("Product:", product_result)

Sum: 16.0
Product: 150.0