In [1]:
x = []          #empty
x = list()      #empty
y = [1, 2, 3]   #direct initialization

In [2]:
z = []
z.append("apple")   #adding single value
z.append("Cherry")
z.append("Avacado")
print(z)

['apple', 'Cherry', 'Avacado']

In [3]:
x = [1, 2, 3]
y = [4, 5, 6]
z = x + y       #concatenate list
print(x, y, z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [4]:
#list of duplicates
a = [1] * 10        #cloning
print(a)
b = [1, 2]* 5
c = a * 2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
#Disleying
print(a)
#diaplaying single item at a time very loop
for item in a:
    print(item)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1

In [6]:
#Single element using index
print(a[0])
print(a[3], a[5])

1
1 1

In [7]:
student = ["Srikanth", "Ajay", "Bhargav", "Ram", "Yaswanth", "Ram", ""]

In [8]:
books = []
#adding one item at a time
books.append("The way of king")
print(books)
books.append("The Final Empire")
books.append("Steelheart")
books.append("Legion")
print(books)

['The way of king']
['The way of king', 'The Final Empire', 'Steelheart', 'Legion']

In [9]:
books.append("Harry Potter", "Jungle book")

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
colors = ["red", "green", "blue"]
colors.extend(['yellow', 'black'])
print(colors)
colors2=["Purple", "Yellow", "Pink"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black']
['red', 'green', 'blue', 'yellow', 'black', 'Purple', 'Yello', 'Pink']

In [ ]:
a = []
for i in range(1, 11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
movies = []
for i in range(5):
    movie = input("Enter movies")
    movies.append(movie)
print(movies)

['uebfe', 'dhcbeh', 'fnrjfn', 'fnjf', 'ef ']

In [ ]:
x = [1, 5, 10]
x.insert(1, 2)
print(x)
x.insert(2,3)
print(x)
x.insert(4,9)
print(x)

[1, 2, 5, 10]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 9, 10]

List methods
Adding Elements
    1. append() -> add one element to the end of the list
    2. insert() -> add one element to the specific  position
    3. extend() -> append multiple items in a list
Removing Elements
    1. remove() -> remove the first occurrence of a value
    2. pop() -> remove and retuen an element from an index
    3. clear() -> remove all elements from the list

In [ ]:
books = ['Hero of Ages', 'well of Acsension', 'Warbreaker', 'Nightblood', 'Then Final Empire', 'The Way of Kinds', 'Oathbringer', 'Wind and Truth', 'Harry Potter and Globet of fire', 'New Moon', 'Kin of Thrones']

In [ ]:
print("size of book list", len(books) )

size of book list 11

In [ ]:
books.remove("New Moon")

ValueError: list.remove(x): x not in list

In [ ]:
print(books)

['Hero of Ages', 'well of Acsension', 'Warbreaker', 'Nightblood', 'Then Final Empire', 'The Way of Kinds', 'Oathbringer', 'Wind and Truth', 'Harry Potter and Globet of fire', 'Kin of Thrones']

In [ ]:
# validation based removal
if "Oathbringer" in books:
    books.remove("Oathbringer")
print(books)

['Hero of Ages', 'well of Acsension', 'Warbreaker', 'Nightblood', 'Then Final Empire', 'The Way of Kinds', 'Wind and Truth', 'Harry Potter and Globet of fire', 'Kin of Thrones']

In [ ]:
print(books)

['Hero of Ages', 'well of Acsension', 'Warbreaker', 'Nightblood', 'Then Final Empire', 'The Way of Kinds', 'Wind and Truth', 'Harry Potter and Globet of fire', 'Kin of Thrones']

In [ ]:
books.pop(3)

'Nightblood'

In [ ]:
books.pop(1)

'well of Acsension'

In [ ]:
print(books)
print(len(books))

['Hero of Ages', 'Warbreaker', 'Then Final Empire', 'The Way of Kinds', 'Wind and Truth', 'Harry Potter and Globet of fire', 'Kin of Thrones']
7

In [ ]:
# pop() without any index will remove the last element 
books.pop()

'Kin of Thrones'

In [ ]:
books.clear()
print(books)

[]

In [ ]:
languages = ['c', 'Python', 'Kotlin', 'Java', 'Dart', 'Go', 'C++', 'C#', 'HTML', 'Javascript', 'Scala', 'Rust', 'Mojo', 'Assembly']
numbers = [12, 56, 23, 67, 13, 23, 12, 56, 23, 56, 12, 34, 23, 23, 12, 34, 34, 23, 53, 92]
data = [1, 'Apple', 2, 'Avacado', 3, 'Apricot']

In [ ]:
numbers.count(12) # count how many times 12 occurs in list

4

In [ ]:
print(numbers.count(1))
print(numbers.count(23))
print(numbers.count(56))

0
6
3

In [ ]:
languages.index('C#') # 7th index in my list

7

In [ ]:
print(languages.index("C"))
print(languages.index("Java"))
print(languages.index("Python"))
#print(languages.index("Lisp")) #will give error

ValueError: 'C' is not in list

In [ ]:
print("Original", languages)
languages.sort() #sort in A - Z
print("Sorted", languages)

Original ['c', 'Python', 'Kotlin', 'Java', 'Dart', 'Go', 'C++', 'C#', 'HTML', 'Javascript', 'Scala', 'Rust', 'Mojo', 'Assembly']
Sorted ['Assembly', 'C#', 'C++', 'Dart', 'Go', 'HTML', 'Java', 'Javascript', 'Kotlin', 'Mojo', 'Python', 'Rust', 'Scala', 'c']

In [ ]:
print("Original", data)
data.reverse() #reverse the list
print("Reversed", data)

Original [1, 'Apple', 2, 'Avacado', 3, 'Apricot']
Reversed ['Apricot', 3, 'Avacado', 2, 'Apple', 1]

In [ ]:
numbers.sort()
print(numbers)

NameError: name 'numbers' is not defined

In [ ]:
data.sort()
print(data)

NameError: name 'data' is not defined

In [ ]:
x = [1, 2, 3, 4]
y = x #deep copy
z = x.copy() #shallow copy
print(x, y, z, sep = "\n")
x.append(10)
y.pop()
z.append(10)
z.append(20)
print(x, y, z, sep = "\n")

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 10, 20]

In [ ]:
fruits = ["Mango", "Apple", "Banana", "Orange", "Grapes", "Custord Apple", "Pineapple", "Dragan Fruit", "Kiwi", "Watermelon",]
veg = ["Tomato", "Brinjal", "Carrot", "Radish", "Beetroot", "Beans", "Ladiesfinger", "Onion", "Chilli", "Drumstick",]
series = ["Money Heist", "Game of Thrones", "Mirzapur", "Squid Game", "Indori Ishq", "Breaking Bad", "Stranger Things", "Wednesday", "Wednesday-2", "Vamppire Diaries", "House of Dragon",]
biglist = fruits + veg + series
print(biglist)

['Mango', 'Apple', 'Banana', 'Orange', 'Grapes', 'Custord Apple', 'Pineapple', 'Dragan Fruit', 'Kiwi', 'Watermelon', 'Tomato', 'Brinjal', 'Carrot', 'Radish', 'Beetroot', 'Beans', 'Ladiesfinger', 'Onion', 'Chilli', 'Drumstick', 'Money Heist', 'Game of Thrones', 'Mirzapur', 'Squid Game', 'Indori Ishq', 'Breaking Bad', 'Stranger Things', 'Wednesday', 'Wednesday-2', 'Vamppire Diaries', 'House of Dragon']

# Nested List
list within a list

In [ ]:
x = []              # 
x2 = [[]]           # empty list --> 2 dimension
print(x)
print(x2)

[]
[[]]

In [ ]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [ ]:
x2.append(1)
x2.append
x2.append([4, 5, 6])
print(x2)

[[], 1, 1, [4, 5, 6]]

In [ ]:
items = [
    ['red', 'green', 'blue'],
    ['apple', 'guava', 'blackberry'],
    [150, 100, 300],
]
print(items)
print("Size of list", len(items))
print("Size of list at index 0 is", len(items[0]), "=>", items[0])
print("Size of list at index 1 is", len(items[1]), "=>", items[1])
print("Size of list at index 2 is", len(items[2]), "=>", items[2])
print("Element 0 as List 0 is", items[0][0])
print("Element 2 as List 0 is", items[0][2])
print("Element 0 as List 1 is", items[1][0])
print("Element 1 as List 1 is", items[1][1])

[['red', 'green', 'blue'], ['apple', 'guava', 'blackberry'], [150, 100, 300]]
Size of list 3
Size of list at index 0 is 3 => ['red', 'green', 'blue']
Size of list at index 1 is 3 => ['apple', 'guava', 'blackberry']
Size of list at index 2 is 3 => [150, 100, 300]
Element 0 as List 0 is red
Element 2 as List 0 is blue
Element 0 as List 1 is apple
Element 1 as List 1 is guava

In [ ]:
matrix = [
    [12, 23, 45, 25],
    [85, 95, 25, 15],
    [30, 32, 35, 5],
]
print(matrix)
print("Size of list", len(matrix))
print("Size of list at index 0 is", len(matrix[0]), "=>", matrix[0])
print("Size of list at index 1 is", len(matrix[1]), "=>", matrix[1])
print("Size of list at index 2 is", len(matrix[2]), "=>", matrix[2])
print("Element 0 as List 0 is", matrix[0][0])
print("Element 0 as List 2 is", matrix[0][2])
print("Element 1 as List 0 is", matrix[1][0])
print("Element 1 as List 3 is", matrix[1][3])
print("Element 2 as List 1 is", matrix[2][1])
print("Element 2 as List 3 is", matrix[2][3])

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]
Size of list 3
Size of list at index 0 is 4 => [12, 23, 45, 25]
Size of list at index 1 is 4 => [85, 95, 25, 15]
Size of list at index 2 is 4 => [30, 32, 35, 5]
Element 0 as List 0 is 12
Element 0 as List 2 is 45
Element 1 as List 0 is 85
Element 1 as List 3 is 15
Element 2 as List 1 is 32
Element 2 as List 3 is 5

In [ ]:
# not good
print(matrix[0])
print(matrix[1])
print(matrix[2])

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [ ]:
# good
for row in matrix:
    print(row)

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [ ]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val, end=' ')

12 23 45 25 85 95 25 15 30 32 35 5

In [ ]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val, end=' ')
    print() # change the line after each row

12 23 45 25
85 95 25 15
30 32 35 5

# wap to print the sum of all the values in matrix

In [ ]:
total = 0
for row in matrix:
    for val in row:
        total += val
print(total)

427

# wap to print the product of all the values in matrix

In [ ]:
total = 1
for row in matrix:
    for val in row:
        total *= val
print(total)

157959112500000000

### wap to print row wise sum of matrix

In [ ]:
for row in matrix:
    total = 0
    for value in row:
        total+=value
    print(row, "=>", total)

[12, 23, 45, 25] => 105
[85, 95, 25, 15] => 220
[30, 32, 35, 5] => 102

### wap to print row wise average of matrix

In [ ]:
for row in matrix:
    total = 0
    for value in row:
        total += value
    avg = round(total/len(row),1)
    print(row, "=>", avg)

[12, 23, 45, 25] => 26.2
[85, 95, 25, 15] => 55.0
[30, 32, 35, 5] => 25.5

# wap to print column wise sum of matrix

In [ ]:
size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"Column {c} => {total}")

Column 0 => 127
Column 1 => 150
Column 2 => 105
Column 3 => 45

In [ ]:
size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"Column {c} => {total/4}")

Column 0 => 31.75
Column 1 => 37.5
Column 2 => 26.25
Column 3 => 11.25

### wap to print the lower bound triangle of a matrix

In [ ]:
mat2 = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]
for r in range(len(mat2)):
    for c in range(len(mat2[0])):
        if (c <= r):
            print(mat2[r][c], end=' ')
    print()

1
5 6
9 10 11
13 14 15 16

### Slicing

In [ ]:
x = [11, 12, 13, 15, 19]
x[2:len(x)]

[13, 15, 19, 20]

In [ ]:
x = ['E', 'D', 'U', 'C', 'A', 'T', 'I', 'O', 'N']

x[-6:6]

['C', 'A', 'T']

slicing syntax      
var[start:stop:step]

In [ ]:
name = "william shakespeare"
name[8:-6]

'shake'

In [ ]:
name = "william shakespeare"
fname=name[:7]
lname=name[8:]

In [ ]:
name="S r i k a n t h R e d d y"
name[::2]  #even item

'SrikanthReddy'

In [ ]:
name="S r i k a n t h R e d d y"
name[1::2]  #odd item

'            '

In [ ]:
name = "Vijay deenanath chauhan"
fname = name[:5]
mname = name[6:15]
lname = name[-7:]

In [ ]:
name = "Vijay deenanath chauhan"
name[::-1]

'nahuahc htananeed yajiV'

In [ ]:
# Reverse print element
x = [1, 2, 3, 4, 6, 7, 9, 11, 13]
for item in x[::-1]:
    print(item)

13
11
9
7
6
4
3
2
1

In [ ]:
#Reverse a list in place
a = [1, 2, 3]
a[:]    #get all elements
a[:] = a[::-1]

[3, 2, 1]

In [ ]:
# Rotate a list
x = [1, 2, 3, 4, 5]
ans = x[2:] + x[:2]
print(x, ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

### COMPREHENSION

In [ ]:
x = [1, 3, 4, 5]
x2 = []
for i in x:
    s = i * 2
    x2.append(s)
print(x, x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [ ]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [ ]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
    print(x,y,xy,sep='\n')

[1, 2, 3]
[4, 5, 6]
[5]
[1, 2, 3]
[4, 5, 6]
[5, 7]
[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [ ]:
z = [2, 3, 4]
zsqr = []
for i in z:
    zsqr.append(i**2)
print(zsqr)

[4, 9, 16]

In [ ]:
y = [1, 2, 3]
y2=[i*2 for i in y]
print(y, y2)

[1, 2, 3] [2, 4, 6]

In [1]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [2]:
# tuple with mixed data types
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [3]:
my_tuple = ("mouse", [8, 4, 6], [1, 2, 3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [5]:
my_tuple = 3, 4, 6, "Apple"
print(my_tuple)

(3, 4, 6, 'Apple')

In [6]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [9]:
n_tuple = ("mouse", [5, 4, 6], (1, 2, 4))
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [10]:
print((1, 2, 3)+(4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [14]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [15]:
my_tuple = ('a', 'p', 'p', 'l', 'e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

In [14]:
for i in range(3):
    for j in range(3):
        if i == j:
            print(f"Diagonal: ({i}, {j})")
        elif i > j:
            print(f"Lower: ({i}, {j})")
        else:
            print(f"Upper: ({i}, {j})")

Diagonal: (0, 0)
Upper: (0, 1)
Upper: (0, 2)
Lower: (1, 0)
Diagonal: (1, 1)
Upper: (1, 2)
Lower: (2, 0)
Lower: (2, 1)
Diagonal: (2, 2)