In [10]:
for _ in range(50):
    print(1)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [9]:
for _ in range(5):
    print("This is a statement")

This is a statement
This is a statement
This is a statement
This is a statement
This is a statement

In [ ]:
for i in range(15):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [18]:
for i in range(1, 16):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [19]:
a = 5
b = 10
for i in range(a,b):
    print(i)

5
6
7
8
9

In [20]:
x = int(input("Enter start"))
y = int(input("Enter stop"))
for i in range(x,y):
    print(i)

10
11
12
13
14

In [23]:
size = 10
for i in range(1, size + 1):
    print(f"12 x {i} = {12 * i}")

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [1]:
for i in range(-10, 10, 3):
    print(i, end=",")

-10,-7,-4,-1,2,5,8,

## syntax 
for var in iterable:
    if condition:
        statement
    else:
        statement

In [2]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [3]:
for i in range(1,11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [4]:
nums = [ 1, 5, 11, 3, 12, 15]
for i in nums:
    if i % 2 == 0:
        s = i ** 2
        print(s)
    else:
        print("Odd number")

Odd number
Odd number
Odd number
Odd number
144
Odd number

In [6]:
nums = [ 1, 5, 11, 3, 12, 15]
for i in nums:
    if i % 2 != 0:
        s = i ** 3
        print(s)
    else:
        print("Prime number")

1
125
1331
27
Prime number
3375

In [11]:
radius = [3, 5, 6, 11, 10]
for i in radius:
    a = 3.14 * i ** 2
    print(f"The area for {i} is {a}")

The area for 3 is 28.26
The area for 5 is 78.5
The area for 6 is 113.04
The area for 11 is 379.94
The area for 10 is 314.0

In [13]:
videogames = ["Pubg", "Free fire", "Temple run","Subway surfers", "Candy crush", "Chess", "vice city", "Cricket", "Ludo", "8 ball pool" ]
for name in videogames:
    if name.startswith("C"):
        print(name)

Candy crush
Chess
Cricket

In [15]:
books = ["The final empire", "War breaker", "Elantus", "The well of Ascension", "The alloy of law", "Hero of ages", "The way of Kings"]
for book in books:
    if "The" in book or "of" in book:
        print(f"book--> {book}")

book--> The final empire
book--> The well of Ascension
book--> The alloy of law
book--> Hero of ages
book--> The way of Kings

## Aggregation
sum, count, min, max, avg, median

In [9]:
total = 0
for num in range(10, 21):
    total = total + num
print(total)

165

In [16]:
total = 1
for num in range(10, 21):
    total = total * num
print(total)

6704425728000

In [10]:
nums = [5, 11, 2, 53, 10, 33]
m = 0
for num in nums:
    if num > m:
        m = num
print(m)

53

In [34]:
nums = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
count = 0
for i in nums:
    if i % 3 == 0:
        count = count + 1
print(f"Total count = {count}")

Total count = 8

In [35]:
nums = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
count = 0
for i in nums:
    if i % 2 == 0:
        count = count + 1
print(f"Total count= {count}")

Total count= 13

In [ ]:
movies = ["Kannappa", "Ginna", "RRR", "F1", "Son of India", "Dhee", "Kotha Lokha", "Little Hearts", "Mirchi", "OG", "Akhanda", "Ghaati", "Raja Saab", "Radhe shyam"]
count = 0
for movie in movies:
    if movie.startswith("R") or movie.startswith("r"):
        # long way -> count = count + 1
        count += 1
print("Count", count)

Count 3

In [13]:
#Factorial 
num = 8
fact = 1
# you can use a backword or forward loop
for i in range(num, 0, -1):
    print(f'{i}* {fact}')
    fact = fact * i
print(fact)

8* 1
7* 8
6* 56
5* 336
4* 1680
3* 6720
2* 20160
1* 40320
40320

### Nested loop
for loop:
    for loop:
        for loop:
            ...

In [ ]:
# Loops total 10*5 => 50 times:
for i in range(1,11):           # Lopps 10 times
    for j in range(1,6):        # Loops 5 times
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5
i = 6, j = 1
i = 6, j = 2
i = 6, j = 3
i = 6, j = 4
i = 6, j = 5
i = 7, j = 1
i = 7, j = 2
i = 7, j = 3
i = 7, j = 4
i = 7, j = 5
i = 8, j = 1
i = 8, j = 2
i = 8, j = 3
i = 8, j = 4
i = 8, j = 5
i = 9, j = 1
i = 9, j = 2
i = 9, j = 3
i = 9, j = 4
i = 9, j = 5
i = 10, j = 1
i = 10, j = 2
i = 10, j = 3
i = 10, j = 4
i = 10, j = 5

In [18]:
n = 6
for i in range(1, n):
    for j in range (1, n):
        print (j, end=' ')      # dont change line till inner loop 
    print()                     # change line for the outer loop

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [19]:
n = 6
for i in range(1, n):
    for j in range (1, n):
        print (i, end=' ')      # dont change line till inner loop 
    print()                     # change line for the outer loop

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

### Jump statement

    - continue - to skip a step
    - break - to stop the loop

always used with a condition inside a loop

In [24]:
# skip every value divisible by 3
for i in range(1, 25):
    if i % 3 == 0:
        continue
    print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [25]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i == 0:
        continue
    print(i, end=" ")

1 2 3 3 1 2 5 6 7 2 2 1

In [26]:
for i in range(1, 11):
    if i == 8:
        break
    print(i, end=" ")

1 2 3 4 5 6 7

In [ ]:
# Add all values entered by user till he types 0

total = 0
print("ENter 0 to stop the loop")
for i in range(100):
    value = int(input("Enter a value"))
    if value == 0:
        break
    total += value  # add the value to total
print(f"total = {total}")

ENter 0 to stop the loop

In [ ]:
# for else

nums = [2, 5, 8, 11, 15]
for n in nums:
    print(n)
print("Loop completed")

2
5
8
11
15
Loop completed

In [ ]:
nums = [2, 5, 8, 11, 18]
for n in nums:
    if n > 10:
        break
    print(n)
print("loop completed")

2
5
8
loop completed

In [ ]:
value = int(input("Enter Breakpoint"))
nums = [1, 2, 3, 4, 5, 6, 11, 15, 20, 25]
for n in nums:
    if value > n:
        print("Loop broken")
        break
else:
    print("Loop completed")

Loop completed

In [ ]:
### Prime Number 

num = int(input("Enter a number"))
for n in range(2, num):
    if num % n == 0:
        print(f"{num} not a Prime Number")
        break
else:
    print(f"{num} is Prime Number")

5 is Prime Number

SYNTAX

while cond:
    statement 1
    statement 2
    ...
    stetemnt n

In [4]:
x = 50
while x > 0:
    print(x, end=" ")
    x -= 5

50 45 40 35 30 25 20 15 10 5