### STRING  
    In Python, to store any kind of textual information we use string. There is no other type of store text

In [7]:
### string creation
a = 'apple'
b = "Banana"
c = '"This is ' \
'chocolate ' \
'cake"'
print(a)
print(b)
print(c)

apple
Banana
"This is chocolate cake"

In [5]:
### type creating
x = str(10)
y = str(["apple", "Banana"])
print(x, type(x))
print(y, type(y))

10 <class 'str'>
['apple', 'Banana'] <class 'str'>

In [9]:
print(a[0])
a[0]='c'    #strings are immutable

a

TypeError: 'str' object does not support item assignment

In [14]:
# Slicing & Indexing
x = 'disappointed'
y=x[5:10]
print(f"The {y} is, I am not {x}")

The point is, I am not disappointed

In [35]:
poem = '''Jhonny Jhonny yes papa
Eating sugar, No papa
Telling lies, No papa
Open your mouth Ha Haa Haaa'''
y = poem[0:22]
print(y)

Jhonny Jhonny yes papa

String Functions    
Formatting

In [ ]:
s ="Maintain silence in Library"
supper = s.upper()
print(s)
print(supper)

Maintain silence in Library
MAINTAIN SILENCE IN LIBRARY

In [ ]:
s ="Maintain silence in Library"
supper = s.casefold()
print(s)
print(supper)

maintain silence in Library
maintain silence in library

In [ ]:
s ="Maintain silence in Library"
supper = s.lower()
print(s)
print(supper)

Maintain silence in Library
maintain silence in library

In [15]:
s ="Maintain silence in Library"
supper = s.swapcase()
print(s)
print(supper)

Maintain silence in Library
mAINTAIN SILENCE IN lIBRARY

In [13]:
s ="Maintain silence in Library"
supper = s.capitalize()
print(s)
print(supper)

Maintain silence in Library
Maintain silence in library

In [16]:
s ="Maintain silence in Library"
suppen = s.title()
print(s)
print(suppen)

Maintain silence in Library
Maintain Silence In Library

In [4]:
a = "Seven"
a1=a.ljust(10)
print(a)
print(a1)
a2 = a.ljust(10 ,'-')
print(a2)
a3 = a.rjust(20)
a4 = a.rjust(20,"|")
a5 = a.center(13)
a6 = a.center(13, "*")
print(a3, a4, a5, a6, sep='\n')

Seven
Seven
Seven-----
               Seven
|||||||||||||||Seven
    Seven
****Seven****

In [5]:
a3 = a.rjust(20)
print(a3)

               Seven

In [6]:
a4 = a.rjust(20,"|")
print(a4)

|||||||||||||||Seven

In [7]:
a5 = a.center(13)
print(a5)

    Seven

In [33]:
a6 = a.center(13, "*")
print(a6)

****Seven****

In [10]:
x = input()
print(x.isalpha())
print(x.isalnum())
print(x.isdigit())
print(x.isspace())

True
True
False
False

In [11]:
a = input()
a1 = a.startswith("a")
a2 = a.startswith("hello")
a3 = a.startswith("b")
print(a, a1, a2, a3, sep="\n")

hello
False
True
False

In [ ]:
#replace the item
s =  "once upon a time"
s2 = s.replace('Once', 'twice')
print(s, s2)

once upon a time once upon a time

In [11]:
s3 = s.replace('e', 'l')
print(s3)

oncl upon a timl

In [12]:
#replace for removing content

data = 'py#t#h#o#n'
cleared_data = data.replace('#', '')
print(data, cleared_data, sep='\n' )

py#t#h#o#n
python

In [16]:
m = "Alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))   #out -1
print(m.find('pine'))   #out 2
print(m.find('i'))
print(m.find('i', 4))

7
-1
2
3
13

In [ ]:
# split & join
quote = '''life before death,
courage before despar,
journey before destination'''
words = quote.split()   #str -> list
print(quote)
print(words)
sentences = quote.split(',')
print(sentences)

life before death,
courage before despar,
journey before destination
['life', 'before', 'death,', 'courage', 'before', 'despar,', 'journey', 'before', 'destination']
['life before death', '\ncourage before despar', '\njourney before destination']

In [32]:
addr = ['Mbu', 'Sree sainath nagar',
           'Tirupati', 'AP', '517102']
addr_str = ",".join(addr)
print(addr, addr_str, sep='\n')
add2 = "_".join(addr)
add3 = "\n".join(addr)
add4 = " What ".join(addr)
print(add2, add3, add4, sep='\n')

['Mbu', 'Sree sainath nagar', 'Tirupati', 'AP', '517102']
Mbu,Sree sainath nagar,Tirupati,AP,517102
Mbu_Sree sainath nagar_Tirupati_AP_517102
Mbu
Sree sainath nagar
Tirupati
AP
517102
Mbu What Sree sainath nagar What Tirupati What AP What 517102

In [ ]:
#Functions & Modules
n = input('enter value')
if int(n) % 2 ==0:
    print('Even')
else:
    print('odd')

Even

### 1. Required parameter

In [1]:
def area (l, b):
    return l * b

In [2]:
ans = area(10, 5)
print(ans)

50

In [6]:
ans = area()

TypeError: area() missing 2 required positional arguments: 'l' and 'b'

### 2. Named parameter calls

In [7]:
res = area(l=5, b=13)
print(res)

65

In [8]:
def si(p, r, t):
    return p*r*t/100

In [9]:
intrest = si(p=10000, r=3.3, t=5)
print(intrest)

1650.0

### 3. Default parameter

In [10]:
def pow(n, e=2):
    return n**e

In [12]:
print(pow(10,3))
print(pow(10))

1000
100

In [13]:
def adder(a, b=0, c=0, d=0):
    return a+b+c+d

In [14]:
adder(10)

10

In [15]:
adder(5, 4)

9

In [16]:
adder(2, 3, 5)

10

In [17]:
adder(s, 4, 3, 2)

NameError: name 's' is not defined

In [18]:
adder(a=10, c=10, d=2)

22

In [19]:
def hi():
    print("hola")

In [21]:
hi()

hola

In [ ]:
def ctof(val):
    f = (val * 9/5)+32
    return f